


<div class="modal fade"  id="editmodel-size-{{v.pk}}" tabindex="-1" role="dialog"
    aria-labelledby="addModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editmodel--size">Edit Size </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0)" onsubmit="edit_size({{v.pk}})" >
                    {% csrf_token %}
                    <div class="form-group">
                        <select name="" id="edit-size-select-{{v.pk}}" class="form-control"> 
                            {% for i in size %}
                            <option value="{{i.pk}}" {% if v.category.pk == i.pk %}
                            selected
                            {% endif %}>{{i.category}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  id="edit-size-text-{{v.pk}}" name="" value="{{v.Size}}"
                            placeholder="Enter Size" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="edit-size-description-{{v.pk}}" rows="3" required
                            name="description"
                            placeholder="Enter description">{{v.discription}}</textarea>
                    </div>
                    <div class="float-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" onclick="" class="btn btn-primary" >save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

