<div id="size-list-main-div">
    {% for key,val in size.items %}
        <div class="accordion border">
            <div class="row">
                <div class="col-lg-1 col-1">{{forloop.counter}}</div>
                <div class="col-lg-11 col-11">{{key}}</div>
            </div>
        </div>
        <div class="panel" >
            {% for v in val %}
            <div class="row p-3 border">
                <div class="row">
                    <div class="col-lg-1 col-1">{{forloop.counter}}</div>
                    <div class="col-lg-5 col-5">
                        {{v.Size}}
                    </div>
                    <div class="col-lg-6 col-6">
                        <div class="row">
                            <div class="col-lg-8 col-8">
                                <div class="form-check form-switch">
                                    <input class="form-check-input ml-1" type="checkbox" role="switch"
                                        id="flexSwitchCheckChecked" onclick="size_checkbox({{v.id}})" {% if v.is_active %}
                                        checked {% endif %}>
                                </div>
                            </div>
                            <div class="col-lg-2 col-2"><a class="mr-4 d-inline" href="javascript:void(0)" title="Edit"><i
                                        class="fa fa-edit color-muted" data-toggle="modal"
                                        data-target="#editmodel-size-{{v.pk}}"></i> </a></div>
                            <div class="col-lg-2 col-2">
                                <a href="#" onclick="deletesize({{v.pk}})" class="d-inline " data-toggle="tooltip"
                                    data-placement="top" title="Delete"><i class="fa fa-trash color-danger"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'admin_/categories/size/edit.html' %}

            {% endfor %}
        </div>
        {% endfor %}
</div>