{% extends "admin_/base.html" %}
{% load static %}

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'adm/assets/vendor/datatables/css/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adm/assets/vendor/datatables/css/buttons.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adma/assets/vendor/datatables/css/select.bootstrap4.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'adm/assets/vendor/datatables/css/fixedHeader.bootstrap4.css' %}">
{% endblock %}
{% block pagetitle %} {{sub_prod.product.product_name}} <br> sku : {{sub_prod.sku}}{% endblock %}

{% block navigate %}
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">product</a></li>
<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">{{sub_prod.product.product_name}}</a></li>

{% endblock %}
{% block content %}

<div class="row">
  <div class="row" id="edit-subproduct-tab">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      {% include 'admin_/products/sub-product/edit/edit-sub-product.html' %}
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
  function showPreview(event, id) {
    if (event.target.files.length > 0) {
      var src = URL.createObjectURL(event.target.files[0]);
      var preview = document.getElementById(id);
      preview.src = src;
      preview.style.display = "block";
    }
  }

  function edit_sub_product(pk) {
    
  }
</script>
{% endblock %}