{% load static %}

<div class="row">
  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      <div class="preview">
        <img id="file-ip-3-preview" src="{{sub_prod.images.url}}" style="height:16rem ; width:15rem ;">
      </div>
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage1" id="file-ip-3"  accept="image/*"
          onchange="showPreview(event, 'file-ip-3-preview');">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      <div class="preview">
        <img id="file-ip-3-preview1" src="{{sub_prod.images2.url}}" style="height:16rem ; width:15rem ;">
      </div>
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage2" id="file-ip-3" accept="image/*" 
          onchange="showPreview(event, 'file-ip-3-preview1');">
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      {% if sub_prod.images3 %}
      <div class="preview">
        <img id="file-ip-3-preview2" src="{{sub_prod.images3.url}}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% else %}
      <div class="preview">
        <img id="file-ip-3-preview2" src="{% static 'adm/assets/images/no-image.jpg' %}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% endif %}
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage3" id="file-ip-3" accept="image/*"
          onchange="showPreview(event, 'file-ip-3-preview2');">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      {% if sub_prod.images4 %}
      <div class="preview">
        <img id="file-ip-3-preview3" src="{{sub_prod.images4.url}}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% else %}
      <div class="preview">
        <img id="file-ip-3-preview3" src="{% static 'adm/assets/images/no-image.jpg' %}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% endif %}
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage4" id="file-ip-3" accept="image/*"
          onchange="showPreview(event, 'file-ip-3-preview3');">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      {% if sub_prod.images5 %}
      <div class="preview">
        <img id="file-ip-3-preview4" src="{{sub_prod.images5.url}}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% else %}
      <div class="preview">
        <img id="file-ip-3-preview4" src="{% static 'adm/assets/images/no-image.jpg' %}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% endif %}
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage5" id="file-ip-3" accept="image/*"
          onchange="showPreview(event, 'file-ip-3-preview4');">
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card" style="width: 15rem;">
      {% if sub_prod.images6 %}
      <div class="preview">
        <img id="file-ip-3-preview5" src="{{sub_prod.images6.url}}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% else %}
      <div class="preview">
        <img id="file-ip-3-preview5" src="{% static 'adm/assets/images/no-image.jpg' %}"
          style="height:16rem ; width:15rem ;">
      </div>
      {% endif %}
      <div class="card-body" style="width:10rem ;">
        <input type="file" title=" " name="subproductimage6" id="file-ip-3" accept="image/*"
          onchange="showPreview(event, 'file-ip-3-preview5');">
      </div>
    </div>
  </div>
</div>