<div class="modal fade" id="edit-banner_modal-{{i.pk}}" tabindex="-1" role="dialog" aria-labelledby="addModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-sub-size-quantity">Edit Banner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'landing:edit_banner' i.pk %}" method="post" >
          {% csrf_token %}

          <div class="input-group-text mb-2">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="1" {% if i.hero_banner %}checked{% endif %} name="banner"><span class="custom-control-label">Hero Banner</span>
            </label>
          </div>
          <div class="input-group-text mb-2">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="2" {% if i.mainbanner %}checked{% endif %} name="banner"><span class="custom-control-label">Main Banner</span>
            </label>
          </div>
          <div class="input-group-text mb-2">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="3" {% if i.centerbanner %}checked{% endif %} name="banner"><span class="custom-control-label">Center Banner</span>
            </label>
          </div>
          <div class="input-group-text mb-2">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="4" {% if i.small_banner %}checked{% endif %} name="banner"><span class="custom-control-label">Small Banner</span>
            </label>
          </div>
          <div class="float-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" onclick="" class="btn btn-primary">save</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>