<!-- Start Section Content Text Area -->
<div class="product-wrapper" data-aos="fade-up" data-aos-delay="200">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12">
                <div class="product-slider-default-2rows default-slider-nav-arrow">
                    <!-- Slider main container -->
                    <div class="swiper-container product-default-slider-4grid-2row">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">

                            <div class="row d-flex">
                                {% for p in products %}
                                <div class="col-lg-3 col-6 justify-content-center">
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--golden swiper-slide">
                                        <div class="image-box">
                                            <a href="{{p.get_absolute_url}}" class="image-link" target="_blank">
                                                <img src="{{p.images.url}}" class="product-img" 
                                                    alt="">
                                                <img src="{{p.images2.url}}" class="product-img" 
                                                    alt="">
                                            </a>
                                            <div class="tag">
                                                <span>sale</span>
                                            </div>
                                            <!-- <div class="action-link">
                                                <div class="action-link-left">
                                                    <a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#modalAddcart">Add to
                                                        Cart</a>
                                                </div>
                                                <div class="action-link-right">
                                                    <a href="#" data-bs-toggle="modal"
                                                        data-bs-target="#modalQuickview"><i
                                                            class="icon-magnifier"></i></a>
                                                    <a href="wishlist.html"><i class="icon-heart"></i></a>
                                                    <a href="compare.html"><i class="icon-shuffle"></i></a>
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="content">
                                            <div class="content-left">
                                                <h6 class="title"><a
                                                        href="{{p.get_absolute_url}}">{{p.product.product_name}}</a>
                                                </h6>
                                                <ul class="review-star">
                                                    {% if p.rating == 0 %}
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>

                                                    {% endif %}
                                                    {% if p.rating == 1 %}
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>

                                                    {% endif %}
                                                    {% if p.rating == 2 %}
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>

                                                    {% endif %}
                                                    {% if p.rating == 3 %}
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star "></span>
                                                    <span class="fa fa-star "></span>

                                                    {% endif %}
                                                    {% if p.rating == 4 %}
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star "></span>

                                                    {% endif %}
                                                    {% if p.rating == 5 %}
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="content-right">
                                                <span
                                                    class="price"><del>₹{{p.product.unit_price}}</del>₹{{p.offerprice}}</span>
                                                <span class="text-success">{{p.offer_persentage}}% off</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- End Product Default Single Item -->
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
</div>